/* =============================== BASIC SETUP ======================== */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ------------------------------------------------- END OF BASIC SETUP */

/* ============================== WEBSITE PROPERTIES ================ */

/* VARIABLES */
:root {
  --primary-background-color: #3aafa9;
  --secondary-background-color: #2b7a78;
  --primary-text-color: #feffff;
  --secondary-text-color: #17252a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/* ----------------------------------------- END OF WEBSITE PROPERTIES */
