/* RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/***************************** UTILITY COMPONENTS ************************* */

:root {
  font-size: 62.5%;

  /************* Custom Properties ***************/

  /* Main Color */
  --primary-color: #014d4e;

  /* Secondary Color */
  --secondary-color: #ff9408;

  /* Secondary Color Modified */
  --secondary-color-m: #ff94088e;

  /* Tertiary Color */
  --tertiary-color: #017374;

  /* Tertiary Color Modified */
  --tertiary-color-m: #01737498;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  display: flex;
}

/* List Items */
li {
  list-style: none;
}

/* Anchor Tags */
a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

/* /////////////////////////// END OF UTILITY COMPONENTS //////////////// */

/****************************** MAIN STYLING *******************************/

/* ============================= Side Nav */
aside#side-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}
div.side-nav_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}

div.side-nav_content_logo img {
  height: calc(4vw + 4vh);
  object-fit: cover;
}

ul.side-nav_content_social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

ul.side-nav_content_social a i {
  font-size: calc(1rem + 0.66667vw);
  color: white;
  padding-bottom: calc(2rem + 0.66667vw);
  transition: color 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul.side-nav_content_social a i:hover,
ul.side-nav_content_social a i:active {
  color: var(--secondary-color);
}
/* ----------------------------- End of Side Nav */

/* ============================= Main Content */
/* All Content Container = MAIN */
main {
  flex: 1;
}

/* NAV HEADER */
header#header {
  background-color: var(--secondary-color);
  height: calc(4vw + 4vh);
  z-index: 2;
}
nav#header_nav {
  height: 100%;
}

ul.header_nav-links {
  /* background-color: aqua; */

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul.header_nav-links li {
  padding-right: 4vw;
}

ul.header_nav-links li a {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.66667vw);
}

ul.header_nav-links li a:link::before,
ul.header_nav-links li a:visited::before,
ul.header_nav-links li a:link::after,
ul.header_nav-links li a:visited::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: white;

  transform: scaleX(0);

  transition: transform 0.6s ease-in-out;
}

ul.header_nav-links li a:link::before,
ul.header_nav-links li a:visited::before {
  top: 0;

  transform-origin: left;
}
ul.header_nav-links li a:link::after,
ul.header_nav-links li a:visited::after {
  bottom: 0;

  transform-origin: right;
}

ul.header_nav-links li a:hover::before,
ul.header_nav-links li a:active::before,
ul.header_nav-links li a:hover::after,
ul.header_nav-links li a:active::after {
  transform: scaleX(1);
}

/* ----------------------------- End of Main Content */

/* ============================= HERO SECTION */
section#showcase {
  height: 100vh;
  background-image: url('img/logo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

div.showcase_content {
  background-color: var(--secondary-color-m);
  padding: calc(1rem + 2vw);
  height: calc(5rem + 20vmax);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation: hero 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes hero {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.showcase_content_title {
  font-size: calc(2rem + 3vw);
  color: white;
}

.showcase_content_para {
  font-family: 'Indie Flower', sans-serif;
  font-size: calc(1.5rem + 1vw);
  color: white;
}
.showcase_content_link:link,
.showcase_content_link:visited {
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  width: 11rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 1;
}

.showcase_content_link:link::after,
.showcase_content_link:visited::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);

  z-index: -1;
}

.showcase_content_link:hover::after,
.showcase_content_link:active::after {
  transform: scale(1);
  transform-origin: left;
}

/* ============================= WORK SECTION */
section#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 100vw; */

  padding: 2rem;
  background-color: var(--tertiary-color);
}
div.work_card {
  padding: 2rem;
  flex-basis: 40rem;
  flex-grow: 1;
  flex-wrap: wrap;

  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}

div.work_card img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  transition: filter 0.45s ease;
}

div.work_card img:hover,
div.work_card img:active {
  filter: sepia(70%);
}

/* ============================= ABOUT ME SECTION */
section#about_me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  padding: 2rem;
  background-color: var(--secondary-color);
}

.about_me_img,
.about_me_content {
  flex-basis: 40rem;
  padding: 2rem;
  flex-grow: 1;
}

.about_me_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_me_content_title {
  font-size: 4rem;
  padding: 1rem 0;
  color: white;
  text-transform: uppercase;

  position: relative;
}

.about_me_content_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 10%;
  background-color: var(--primary-color);
}

.about_me_content_title,
.about_me_content_para {
  margin-bottom: 4rem;
  letter-spacing: 0.2rem;
}

.about_me_content_para {
  font-size: 1.8rem;
  font-family: 'Indie Flower', cursive;
}

.about_me_content_link:link,
.about_me_content_link:visited {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  position: relative;

  z-index: 1;
}

.about_me_content_link:link::after,
.about_me_content_link:visited::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.45s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  z-index: -1;
}
.about_me_content_link:link:hover:after,
.about_me_content_link:visited:active::after {
  transform: scaleY(1);
  transform-origin: top;
}

/* ============================= SERVICES SECTION */
section#services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 6rem 2rem 2rem;
  background-color: var(--primary-color);
}

.service {
  padding: 4rem;
  margin: 0 2rem 4rem;
  flex-basis: 40rem;
  flex-grow: 1;
  background-color: var(--secondary-color);
  border-bottom: 0.2rem solid var(--secondary-color);
  border-right: 0.2rem solid var(--secondary-color);
  border-left: 0.2rem solid var(--secondary-color);

  font-size: 3rem;
  color: white;

  position: relative;
  z-index: 1;
}

.service::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: transform 0.45s cubic-bezier(1, 0, 0, 1);

  z-index: -1;
}
.service:hover::after,
.service:active::after {
  transform: scaleX(1);
}

.service i,
.services_title {
  margin-bottom: 2rem;
}

.services_title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.services_para {
  font-family: 'Indie Flower', cursive;
  color: white;
  font-size: 2rem;
}

/* ============================= SKILLS SECTION */
section#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: calc(1rem + 2vw);
  background-color: var(--tertiary-color);
}

.skills_design,
.skills_coding {
  padding: calc(1rem + 2vw);
  text-transform: uppercase;
  flex-basis: 40rem;
  flex-grow: 1;
}

.skills_design_title,
.skills_coding_title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.skills_design h4,
.skills_coding h4 {
  font-size: 2rem;
  color: white;
}

.skills_design_progress,
.skills_coding_progress {
  position: relative;
  display: block;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  width: 100%;
  margin-bottom: 2rem;
}

.skills_design_progress span,
.skills_coding_progress span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--secondary-color);
}

/* DESIGN SKILLS ANIMATION */
.skills_design_progress_1 {
  animation: design_1 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design_1 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
.skills_design_progress_2 {
  animation: design_2 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design_2 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.skills_design_progress_3 {
  animation: design_3 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design_3 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.skills_design_progress_4 {
  animation: design_4 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes design_4 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

/*  CODING ANIMATION */
.skills_coding_progress_1 {
  animation: coding_1 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding_1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
.skills_coding_progress_2 {
  animation: coding_2 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding_2 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
.skills_coding_progress_3 {
  animation: coding_3 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding_3 {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}
.skills_coding_progress_4 {
  animation: coding_4 4s infinite cubic-bezier(1, 0, 0, 1);
}

@keyframes coding_4 {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

/* ============================= TESTIMONIALS SECTION */
section#testimonials {
  padding: calc(1rem + 2vw);
  background-color: var(--secondary-color);
  color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.testimonials_card {
  padding: 2vw;
  flex-basis: 50rem;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.testimonials_card_img {
  height: 100%;
  width: 100%;
}

.testimonials_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.35s ease-in-out;
}

.testimonials_card_content_title {
  font-size: 3rem;
  text-transform: uppercase;
}

.testimonials_card_content_para {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}

.testimonials_card_content {
  position: absolute;
  top: 60%;
  left: 0;
  width: 80%;
  background-color: var(--tertiary-color-m);
  padding: 1.5rem;

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.35s ease-in-out;
}

.testimonials_card:hover .testimonials_card_content,
.testimonials_card:active .testimonials_card_content {
  transform: scaleY(1);
  transform-origin: center;
}

.testimonials_card:hover .testimonials_card_img img,
.testimonials_card:active .testimonials_card_img img {
  transform: scale(0.95);
  filter: sepia(30%);
}

/* ============================= CONTACT SECTION */
section#contact {
  height: 100vh;
  background-image: url(img/work.jpg);

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.contact_form {
  flex-basis: 40rem;

  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color-m);
}

.contact_form input,
.contact_form textarea {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 2rem;
  background: transparent;
  border: none;
  border-bottom: var(--secondary-color) solid 0.1rem;
}

.contact_form textarea {
  height: 30vh;
}

input[type='submit'] {
  border: none;
  cursor: pointer;
}
/* =============================== MEDIA QUERIES ========================== */
/* MIN-WIDTH:1510px */
@media screen and (min-width: 1510px) {
  body {
    width: 1510px;
    margin: 0 auto;
  }
}
/* MAX-WIDTH:900px */
@media screen and (max-width: 900px) {
  /* ============================= HERO SECTION */
  section#showcase {
    background-position: 100%;
    align-items: flex-end;
  }
}
/* MAX-WIDTH:610px */
@media screen and (max-width: 610px) {
  /* NAV HEADER */
  header#header {
    position: absolute;
  }
  nav#header_nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--secondary-color);
    text-align: center;
  }
  .clicked {
    left: 55%;
  }
  .header_nav-hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  div.line {
    width: 100%;
    height: 0.3rem;
    background-color: white;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }

  ul.header_nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  ul.header_nav-links li {
    margin-bottom: 4vh;
    margin-left: 6vw;
  }

  .clicked .line-1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }
  .clicked .line-2 {
    opacity: 0;
  }
  .clicked .line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }

  ul.header_nav-links li {
    opacity: 0;
  }
  ul.header_nav-links li:nth-child(1) {
    transition: all 0.5s ease-in-out 0.2s;
  }
  ul.header_nav-links li:nth-child(2) {
    transition: all 0.5s ease-in-out 0.4s;
  }
  ul.header_nav-links li:nth-child(3) {
    transition: all 0.5s ease-in-out 0.6s;
  }
  ul.header_nav-links li:nth-child(4) {
    transition: all 0.5s ease-in-out 0.8s;
  }
  ul.header_nav-links li:nth-child(5) {
    transition: all 0.5s ease-in-out 1s;
  }

  ul.header_nav-links li.fade {
    opacity: 1;
  }

  /* ============================= SHOWCASE SECTION */
  section#showcase {
    background-position: 50%;
  }

  /* ============================= SERVICES SECTION */
  /* ============================= SKILLS SECTION */
  /* ============================= TESTIMONIALS SECTION */
  section#services {
    padding: 6rem 3rem 2rem;
  }

  .service {
    padding: calc(1rem + 2vw);
    margin: 0 0 calc(1rem + 2vw);
  }

  .services_title,
  .skills_design_title,
  .skills_coding_title,
  .testimonials_card_content_title {
    font-size: calc(1.2rem + 2vw);
  }

  .services_para,
  .skills_design h4,
  .skills_coding h4,
  .testimonials_card_content_para {
    font-size: calc(0.8rem + 1.5vw);
  }
}
/* MIN-WIDTH:460px */
@media screen and (max-width: 460px) {
  /* ============================= TESTIMONIALS SECTION */
  .testimonials_card_content {
    top: 0;
    width: 100%;
    height: 100%;
    /* transform: scaleY(0); */
    transform-origin: bottom;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .testimonials_card:hover .testimonials_card_content,
  .testimonials_card:active .testimonials_card_content {
    transform-origin: bottom;
  }
  /* ============================= CONTACT SECTION */
  section#contact {
    background-position: 50% 50%;
  }
}
